---
---
article.post {
    margin-top: 64px;
}

header.page-header {
    margin-bottom: 0 !important;
    h2 {
        text-align: center;
        p {
            color: #ffffff;
            font-size: 1.5rem;
            i {
                color: #ffffff;
                position: relative;
                top: 2px;
                margin-right: 16px;
            }
        }
    }
}