---
---
section#stats {
    margin-top: 128px;
    display: block;
    .section-head {
        top: 64px;
    }
}

@media screen and (max-height: 700px) {
    header .hero {
        padding-top: 120px;
    }
    main {
        margin-top: 64px;
    }
}