---
layout: default
background: carosel
title: Building the Future
images:
    - /assets/fader/viking01.jpg
    - /assets/fader/jlm01.jpg
    - /assets/fader/nbnstate.png 
    - /assets/fader/jlm02.jpg

links:
    - text: Home
      href: #
      go: "#page-header"
      active: true
    - text: About 
      href: #about
      go: "#about" 
      active: false
    - text: Teams 
      href: #teams 
      go: "#teams" 
      active: false
    - text: Stats
      href: "#stats"
      go: "#stats"
      active: false
    - text: Sponsors
      href: "#sponsors" 
      go: "#sponsors" 
      active: false
    - text: Updates
      href: "#updates"
      go: "#updates"
      active: false
    - text: Contact
      href: "#contact"
      go: "#contact"
      active: false

sponsors:
    - name: Palmetto Partners
      picture: /assets/palmetto.svg
      short: >
        Palmetto Partners gave team starting grants of $1500 to each our our three teams. We are indebted to them for jumpstarting our program
    - name: Moes
      picture: /assets/moes.png
      short: > 
        Through, J.L. Mann's club sponsorship program, Moes gave $1000 to support us. We used this money to attend competitions that we otherwise couldn't have afforded sending our teams to, where some teams earned their state qualifications!
    - name: Judy Zacahar
      picture: https://unsplash.it/120/120
      short: >
        Judy Zachar generously donated money to help 3796B get aluminum and other competitive products for the 2017 Season
---

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="media map card">
                    <iframe title="J.L. Mann Map" class="media" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.956983383068!2d-82.33944544889792!3d34.80702408031115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88582f7a5ef8f53f%3A0x9e4e59e25ed8c4f4!2sJ.L.+Mann+High+School!5e0!3m2!1sen!2sus!4v1501165105671">
                        frameborder="0"></iframe>
                    <p class="text">160 Fairforest Way, Greenville, S.C. 29607</p>
                </div>
            </div>
            <div class="col-6">
                <div class="info card">
                    <h1 class="title">About Mann Robotics</h1>
                    <p class="text">We were founded in back 2015, to compete in VEX Skyrise, with only one team of 8, now we've grown to 3 teams and over 20 members. 
                        In StarStruck, we've had 100% state qualification, including teams in elimination. </p>
                    <div class="actions">
                        <a href="/about/" class="right action button">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="teams">
    <div class="container">
        <h1 class="section-head">Teams</h1>
        <div class="row">
            {% for team in site.teams %}
                <div class="col-4">
                    <div class="team media card action-space">
                        <h1 class="title">{{ team.name }}</h1>
                        <p class="subtitle">{{ team.number }}</p>
                        <img src="{{ team.picture }}" alt="{{ team.number }}" class="media">
                        <p class="text">{{ team.short }}</p>
                        <div class="actions">
                            <a href="/about/{{ team.number }}/" class="right action button">More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="stats" class="blue">
    <div class="container">
        <h1 class="section-head">Stats</h1>
        <div class="row">
            <div class="col-3">
                <h1 class="number">23</h1>
                <p class="label">members</p>
            </div>
            <div class="col-3">
                <h1 class="number">2</h1>
                <p class="label">mentors</p>
            </div>
            <div class="col-3">
                <h1 class="number">4</h1>
                <p class="label">awards</p>
            </div>
            <div class="col-3">
                <h1 class="number">4</h1>
                <p class="label">tournaments hosted</p>
            </div>
        </div>
    </div>
</section>

<section id="sponsors">
    <div class="container">
        <h1 class="section-head">Sponsors</h1>
        <div class="row">
            {% for sponsor in page.sponsors %}
            <div class="col-4" data-modal-next>
                <img src="{{ sponsor.picture }}" alt="{{ sponsor.name }}" class="picture circle">
                <p class="name">{{ sponsor.name }}</p>
            </div>
            {% include modal.html body="modals/sponsor.html" data=sponsor %}
            {% endfor %}
        </div>
        <div class="row">
            <h3 class="subtitle">Want to help us out?</h3>
            <a href="/sponsor/" class="button">Sponsor Us</a>
        </div>
    </div>
</section>

<section id="updates" class="blue">
    <div class="container">
        <h1 class="section-head">Updates</h1>
        <div class="row">
            <div class="col-6">
                {% include calendar.html id="greenvilleschools.us_hd8j7sdcdcl7qhbmuto5trbpk0%40group.calendar.google.com" %}
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <h1 class="section-head">Get In Touch</h1>
        <h3>Interested in sponsoring us, want to join, or just want to say hi? We'd love to chat!</h3>
        <div class="row">
            <div class="col-6">
                    <ul class="contact-info">
                        <li class="contact-vector"><i class="material-icons">location_on</i>160 Fairforest Way, <br /> Greenville, S.C. 29607</li>

                        <li class="contact-vector"><i class="material-icons">phone</i>(864) 355-7581</li>

                        <li class="contact-vector"><i class="material-icons">email</i>mannrobo@greenvilleschools.us</li>

                        <li class="contact-vector"><i class="material-icons">web</i><a href="https://mannrobo.github.io" target="_blank">mannrobo.github.io</a></li>
                    </ul>
            </div>
            <div class="col-6">
                <form action="https://formspree.io/mannrobo@greenvilleschools.us" method="POST">
                    <div class="form-group">
                        <label for="name" class="sr-only">Name</label>
                        <input type="text" id="name" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Name</label>
                        <input type="email" id="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="Message" class="sr-only">Name</label>
                        <textarea type="Message" id="Message" class="form-control" name="Message" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="button" value="Send message" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>