---
layout: default
background: carosel
title: Building the Future
images:
    - https://images.unsplash.com/photo-1496482475496-a91f31e0386c?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb 
    - https://images.unsplash.com/photo-1498477386155-805b90bf61f7?dpr=1&auto=format&fit=crop&w=1500&h=913&q=80&cs=tinysrgb
    - https://images.unsplash.com/photo-1499482624510-89fb8b6d0ded?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb
    - https://images.unsplash.com/photo-1496251713551-8cef3b476b0c?dpr=1&auto=format&fit=crop&w=1500&h=998&q=80&cs=tinysrgb

links:
    - text: Home
      href: #
      go: "header"
      active: true
    - text: About 
      href: #about
      go: "#about" 
      active: false
    - text: Teams 
      href: #teams 
      go: "#teams" 
      active: false
    - text: Stats
      href: "#stats"
      go: "#stats"
      active: false
    - text: Updates
      href: "#updates"
      go: "#updates"
      active: false
    - text: Contact
      href: "#contact"
      go: "#contact"
      active: false

sponsors:
    - name: Palmetto Partners
      picture: https://unsplash.it/90/90
      short: >
        Palmetto Partners gave team starting grants of $1500 to each our our three teams. We are indebted to them
    - name: Palmetto Partners 
      picture: https://unsplash.it/90/90 
      short: > 
        Palmetto Partners gave team starting grants of $1500 to each our our three teams. We are indebted to them
    - name: Judy Zacahar
      picture: https://unsplash.it/90/90
      short: >
        Palmetto Partners gave team starting grants of $1500 to each our our three teams. We are indebted to them
---

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="media map card">
                    <iframe class="media" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.956983383068!2d-82.33944544889792!3d34.80702408031115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88582f7a5ef8f53f%3A0x9e4e59e25ed8c4f4!2sJ.L.+Mann+High+School!5e0!3m2!1sen!2sus!4v1501165105671"
                        frameborder="0"></iframe>
                    <p class="text">160 Fairforest Way, Greenville, S.C. 29607</p>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <h1 class="title">About Mann Robotics</h1>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, debitis dicta labore! Consectetur
                        omnis, recusandae quo! Vel, quaerat quia maxime et amet pariatur eum. Facere nisi, laudantium
                        ab facilis dolorum.</p>
                    <div class="actions">
                        <a href="/about/" class="right action button">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="teams">
    <div class="container">
        <h1 class="section-head">Teams</h1>
        <div class="row">
            {% for team in site.teams %}
                <div class="col-4">
                    <div class="team media card">
                        <h1 class="title">{{ team.name }}</h1>
                        <p class="subtitle">{{ team.number }}</p>
                        <img src="{{ team.picture }}" alt="{{ team.number }}" class="media">
                        <p class="text">{{ team.short }}</p>
                        <div class="actions">
                            <a href="/about/{{ team.number }}" class="right action button">More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="stats" class="blue">
    <div class="container">
        <h1 class="section-head">Stats</h1>
        <div class="row">
            <div class="col-3">
                <h1 class="number">35</h1>
                <p class="label">members</p>
            </div>
            <div class="col-3">
                <h1 class="number">3</h1>
                <p class="label">mentors</p>
            </div>
            <div class="col-3">
                <h1 class="number">16</h1>
                <p class="label">awards</p>
            </div>
            <div class="col-3">
                <h1 class="number">4</h1>
                <p class="label">tournaments hosted</p>
            </div>
        </div>
    </div>
</section>

<section id="sponsors">
    <div class="container">
        <h1 class="section-head">Sponsors</h1>
        <div class="row">
                <div class="sponsor-list">
                    {% for sponsor in page.sponsors %}
                        <div class="col-1">
                            <div href="#" class="sponsor">
                                <img src="{{ sponsor.picture }}" alt="{{ sponsor.name }}" class="circle">
                                <p class="name">{{ sponsor.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>