<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" }}
        <link rel="stylesheet" href="/css/team.css">
        <script async src="js/stats.js"></script>
    </head>
    <body>
        {{ partial "team/nav.html" .}}

        {{ partial "team/hero.html" .}}

        {{ partial "team/stats.html" .}}

        {{ partial "team/biography.html" .}}

      	{{ partial "footer.html" .}}

        {{ partial "js.html" .}}

    </body>
</html>
