<div class="row">
    <div class="col-3">
        <div class="event-modal-summary"></div>
        <a href="#" class="event-modal-link">More...</a>
    </div>
    <div class="col-9">
        <ul class="event-modal-meta">
            <li>
                <i class="material-icons">location_on</i>
                <span class="event-modal-location"></span>
            </li>
            <li>
                <i class="material-icons">event</i>
                <p class="event-modal-date"></p>
            </li>
            <li>
                <i class="material-icons">access_time</i>
                <p class="event-modal-times"></p>
            </li>
        </ul>
    </div>
</div>