<script>
    function apiURL(id, key) {
        return "https://www.googleapis.com/calendar/v3/calendars/" + id + "/events?key=" + key
    }
    function getEvents(id, key) {
        return fetch(apiURL(id, key))
            .then( r => r.json() )
            .then( r => r.items )
    }
    function populateDOM(events) {
        console.log(events);
        load(function() {
            var eventList = document.getElementById("{{ include.id }}").querySelector(".state.one .events");
            for (var i = 0; i < eventList.children.length; i++) {
                var event = eventList.children[i],
                    data = events[i],
                    start = getStartDate(data),
                    end = getEndDate(data);
                event.querySelector(".name").innerText = data.summary;
                if(end.getDate() != start.getDate()) {
                    event.querySelector(".date").innerText = start.toLocaleDateString() + " — " + end.toLocaleDateString();  
                } else {
                    event.querySelector(".date").innerText = start.toLocaleDateString();         
                }       
            }
            
        });
    }
    function getStartDate(event) {
        if(event.start) {
            return new Date(event.start.dateTime || event.start.date)
        } else if (event.origialStartTime) {
            return new Date(event.originalStartTime.dateTime || event.originalStartTime.date)
        } else {
            return new Date(0);
        }
    }
    function getEndDate(event) {
        if (event.end) {
            return new Date(event.end.dateTime || event.end.date)
        } else {
            return new Date(0);
        }
    }
    function distanceFromToday(date) {
        var now = new Date().getTime(),
            then = date.getTime();
        
        return Math.abs(now - then)
    }
    (function(cal, apiKey) {
        getEvents(cal, apiKey)
            .then(e => e.sort( 
                (a, b) => distanceFromToday(getStartDate(a)) - distanceFromToday(getStartDate(b))
             )) // It's not sorted right
            .then(populateDOM)
    })("{{include.id}}", "AIzaSyCeqavu-XBjsQnkM2qqmgF78_IY77NiQ0A");
</script>
<link rel="stylesheet" href="/css/calendar.css">
<div class="calendar card" id="{{ include.id }}">
    <div class="state one">
        <h1 class="title">Upcoming Events:</h1>
        <div class="events">
            <a class="event button" href="#">
                <div class="name">Loading...</div>
                <div class="date">Loading...</div>
            </a>
            <a class="event button" href="#">
                <div class="name">Loading...</div>
                <div class="date">Loading...</div>
            </a>
            <a class="event button" href="#">
                <div class="name">Loading...</div>
                <div class="date">Loading...</div>
            </a>
        </div>
    </div>
    <div class="state two">

    </div>
</div>