<script>
    function apiURL(id, key) {
        return `https://www.googleapis.com/calendar/v3/calendars/${id}/events?key=${key}&singleEvents=true&orderBy=startTime&timeMin=${new Date().toISOString()}`
    }
    function getEvents(id, key) {
        return fetch(apiURL(id, key))
            .then( r => r.json() )
            .then( r => r.items )
    }
    function populateDOM(events) {
        load(function() {
            var eventList = document.getElementById("{{ include.id }}").querySelectorAll(".events .event");
            for (var i = 0; i < eventList.length; i++) {
                    // Fill in the event modal
                    var event = eventList[i],
                        modal = eventList[i].nextElementSibling,
                        data = events[i],
                        start = getStartDate(data),
                        end = getEndDate(data);
                    
                    modal.querySelector(".event-modal-summary").innerText = data.summary;
                    modal.querySelector(".event-modal-link").href = data.htmlLink;
                    modal.querySelector(".event-modal-location").innerText = data.location || "N/A"
                    modal.querySelector(".event-modal-date").innerText = `${start.toLocaleDateString()}`
                    modal.querySelector(".event-modal-times").innerText = `${start.toLocaleTimeString()}`
                    
                    event.querySelector(".name").innerText = data.summary;
                    if(end.getDate() != start.getDate() && !data.allDay) {
                        event.querySelector(".date").innerText = start.toLocaleDateString() + " — " + end.toLocaleDateString();  
                    } else {
                        event.querySelector(".date").innerText = start.toLocaleDateString();         
                    }  
            }
            
        });
    }
    function getStartDate(event) {
        if(event.start && event.start.dateTime) {
            return new Date(event.start.dateTime)
        } else if (event.originalStartTime && event.originalStartTime.dateTime) {
            return new Date(event.originalStartTime.dateTime)
        } else if ((event.originalStartTime && event.originalStartTime.date) || (event.start && event.start.date)) {
           event.allDay = true;
           return new Date((event.start.date || event.originalStartTime.date) + "T00:00:00");
        }
    }
    function getEndDate(event) {
        if(event.end && event.end.dateTime) {
            return new Date(event.end.dateTime)
        } else if (event.originalEndTime && event.originalEndTime.dateTime) {
            return new Date(event.originalEndTime.dateTime)
        } else if ((event.originalEndTime && event.originalEndTime.date) || (event.end && event.end.date)) {
           event.allDay = true;
           return new Date((event.end.date || event.originalEndTime.date) + "T00:00:00");
        }
    }
    function futureEvents(event) {
        console.log(event.summary, getStartDate(event).toLocaleString());
        return getStartDate(event) > new Date();
    }
    (function(cal, apiKey) {
        getEvents(cal, apiKey)
            .then(populateDOM)
    })("{{include.id}}", "AIzaSyCeqavu-XBjsQnkM2qqmgF78_IY77NiQ0A");
</script>
<link rel="stylesheet" href="/css/calendar.css">
<div class="calendar card" id="{{ include.id }}">
    <h1 class="title">Upcoming Events:</h1>
    <div class="events">
        <a class="event button" data-modal-next>
            <div class="name">Loading...</div>
            <div class="date">Loading...</div>
        </a>
        {% include modal.html body="modals/event.html" %}
        <a class="event button" data-modal-next>
            <div class="name">Loading...</div>
            <div class="date">Loading...</div>
        </a>
        {% include modal.html body="modals/event.html" %}
        <a class="event button" data-modal-next>
            <div class="name">Loading...</div>
            <div class="date">Loading...</div>
        </a>
        {% include modal.html body="modals/event.html" %}
    </div>
</div>