<script>
    function apiURL(id, key) {
        return "https://www.googleapis.com/calendar/v3/calendars/" + id + "/events?key=" + key + "&singleEvents=true"
    }
    function getEvents(id, key) {
        return fetch(apiURL(id, key))
            .then( r => r.json() )
            .then( r => r.items )
    }
    function populateDOM(events) {
        load(function() {
            console.trace("populateDOM()");
            var eventList = document.getElementById("{{ include.id }}").querySelector(".state.one .events");
            for (var i = 0; i < eventList.children.length; i++) {
                if (i % 2) {
                    // Fill in the event modal
                    var modal = eventList.children[i],
                        data = events[i - 1],
                        start = getStartDate(data),
                        end = getEndDate(data);
                    
                    modal.querySelector(".event-modal-summary").innerText = data.summary;
                    modal.querySelector(".event-modal-link").href = data.htmlLink;
                    modal.querySelector(".event-modal-location").innerText = data.location || "N/A"
                    modal.querySelector(".event-modal-date").innerText = `${start.toLocaleDateString()}`
                    modal.querySelector(".event-modal-times").innerText = `${start.toLocaleTimeString()}`
                } else {
                    // Fill in the event item on the calendar widget
                    var event = eventList.children[i],
                        data = events[i],
                        start = getStartDate(data),
                        end = getEndDate(data);
                    event.querySelector(".name").innerText = data.summary;
                    if(end.getDate() != start.getDate()) {
                        event.querySelector(".date").innerText = start.toLocaleDateString() + " — " + end.toLocaleDateString();  
                    } else {
                        event.querySelector(".date").innerText = start.toLocaleDateString();         
                    }  
                }
            }
            
        });
    }
    function getStartDate(event) {
        if(event.start) {
            return new Date(event.start.dateTime || event.start.date)
        } else if (event.origialStartTime) {
            return new Date(event.originalStartTime.dateTime || event.originalStartTime.date)
        } else {
            return new Date(0);
        }
    }
    function getEndDate(event) {
        if (event.end) {
            if(!event.end.dateTime) return new Date(event.start.date)
            return new Date(event.end.dateTime)
        } else {
            return new Date(0);
        }
    }
    function distanceFromToday(date) {
        var now = new Date().getTime(),
            then = date.getTime();

        return now - then;
    }
    function closestToNow(a, b) {
       let distA = distanceFromToday(getStartDate(a));
       let distB = distanceFromToday(getStartDate(b));

       return distA - distB;
    }
    (function(cal, apiKey) {
        getEvents(cal, apiKey)
            .then( a => a.sort(closestToNow) )
            .then(populateDOM)
    })("{{include.id}}", "AIzaSyCeqavu-XBjsQnkM2qqmgF78_IY77NiQ0A");
</script>
<link rel="stylesheet" href="/css/calendar.css">
<div class="calendar card" id="{{ include.id }}">
    <div class="state one">
        <h1 class="title">Upcoming Events:</h1>
        <div class="events">
            <a class="event button" data-modal-next>
                <div class="name">Loading...</div>
                <div class="date">Loading...</div>
            </a>
            {% include modal.html body="modals/event.html" %}
            <a class="event button" data-modal-next>
                <div class="name">Loading...</div>
                <div class="date">Loading...</div>
            </a>
            {% include modal.html body="modals/event.html" %}
            <a class="event button" data-modal-next>
                <div class="name">Loading...</div>
                <div class="date">Loading...</div>
            </a>
            {% include modal.html body="modals/event.html" %}
        </div>
    </div>
    <div class="state two">

    </div>
</div>