data:text/html,<body onclick='location.href=&quot;{{ include.src }}&quot;'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700|Material+Icons'>
    <style>
        body {
            background: #eeeeee;
            font-family: 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        p {
            font-size: 22px;
        }
    </style>
    <p>Click To Load {{ include.item }}</p>
</body>