<footer>
    <p class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} Mann Robotics. All Rights Reserved</p>
    <ul class="social social-circle">
        <li><a href="https://twitter.com/mannrobo">
            {% include icon-twitter.svg %}
        </a></li>
        <li><a href="https://github.com/mannrobo">
            {% include icon-github.svg %}
        </a></li>
        <li><a href="https://www.youtube.com/channel/UCJCYTEWkZoA9uXfm2mhsf2w">
            {% include icon-youtube.svg %}
        </a></li>
    </ul>
</footer>