<header>
  <nav>
    <div class="logo-box">
      <img class="logo-svg" src="{% if include.blue %}/assets/logo-blue.svg{% else %}/assets/logo-white.svg{% endif %}" alt="Mann Robotics">
    </div>
    <a href="#" class="hamburger">
      <span class="burger"></span>
    </a>
    <ul class="links">
      <li><a href="#" class="active" data-scrollTo="header"></span>Home</a></li>
      <li><a href="#about" data-scrollTo="#about">About</a></li>
      <li><a href="#teams" data-scrollTo="#teams">Teams</a></li>
      <li><a href="#stats" data-scrollTo="#stats">Stats</a></li>
      <li><a href="#sponsors" data-scrollTo="#sponsors">Sponsors</a></li>
      <li><a href="#contact" data-scrollTo="#contact">Contact</a></li>
    </ul>
  </nav>
  <div class="hero">
    <h1>Building the Future</h1>
    <h2>{{ site.description }}</h2>
  </div>
</header>