<header class="{% if page.background == 'static' %}blue{% endif %}">
  <div class="wrapper">
     {% if page.background == "carosel" %}
    <div class="bg">
      <img src="{{ page.images[0] }}" alt="Background Image" class="top">
      <img src="{{ page.images[1] }}" alt="Background Image" class="bottom">
      <script>
        window.carosel = "{{ page.images | join ' ' }}".split(" ");
      </script>
    </div>
    {% elsif page.background == "image" %}
    <div class="bg">
      <img src="{{ page.image }}" alt="Background Image" class="top">
    </div>
    {% endif %}
    <nav>
      <div class="logo-box">
         {% include logo.svg %}
      </div>
      <a href="#" class="hamburger"><span class="burger"></span></a>
      <ul class="links">
        <li><a href="#" class="active" data-go="header">Home</a></li>
        <li><a href="#about" data-go="#about">About</a></li>
        <li><a href="#teams" data-go="#teams">Teams</a></li>
        <li><a href="#stats" data-go="#stats">Stats</a></li>
        <li><a href="#sponsors" data-go="#sponsors">Sponsors</a></li>
        <li><a href="/media/">Media</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="#contact" data-go="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="hero">
      <h1>{{ page.title }}</h1>
      <h2>{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.description }}{% endif %}</h2>
    </div>
  </div>
</header>