<header role="banner">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a href="#" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a href="/" class="navbar-brand">
                    <img src="/img/icons/white.svg" alt="Mann Robotics" class="navbar-icon">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse">
                <ul class="navbar-nav navbar-right">
                    <li><a href="#" data-scroll="about"><span>About</span></a></li>
                    <li><a href="#" data-scroll="stats"><span>Stats</span></a></li>
                    <li><a href="#" data-scroll="sponsors"><span>Sponsors</span></a></li>
                    <li><a href="#" data-scroll="contact"><span>Contact</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>