---
title: Gallery
layout: post

noHeader: true
permalink: /media/pictures/
---

<style>
  .gallery-img {
    width: 220px;
    height: 120px;
    border-radius: 6px;
    margin: 8px;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
  }
</style>

<script>
  const IMAGES = "{% for image in site.static_files %}{% if image.path contains 'gallery/' %}{{ site.baseurl }}{{ image.path }} {% endif %}{% endfor %}".split(
    " "
  );
  const AMOUNT = 10;
</script>

<main>
  <div class="images"></div>
  <a class="button primary center updates">Load More</a>
</main>
