---
title: Gallery
layout: post

noHeader: true
permalink: /media/pictures/

embedStyle: styles/pictures.css
---

<div class="content">
  <div class="images"></div>
  <a class="button primary center">Load More</a>
</div>

<script>
  const IMAGES = "{% for image in site.static_files %}{% if image.path contains 'gallery/' %}{{ site.baseurl }}{{ image.path }} {% endif %}{% endfor %}".split(
    " "
  );

  let total = 0;
  function prepareImages(step) {
    let imageDOM = IMAGES.slice(total, total + step);
    total += step;

    return imageDOM.map(url =>
      h("img", { src: url, class: "gallery-img" }, [])
    );
  }

  function appendNodes(container, nodes) {
    for (let i = 0; i < nodes.length; i++) {
      container.appendChild(nodes[i]);
    }
  }

  const imagesDOM = document.querySelector(".images");

  // We'll load 10 images initally, then load more when they press the big blue button
  appendNodes(imagesDOM, prepareImages(9));

  // Pull image up
  imagesDOM.addEventListener("click", function(e) {
    if (e.target && e.target.closest("img")) {
      // Remove open on all other images open state
      Array.from(imagesDOM.children).forEach(child => {
        child.classList.remove("open");
      });
      e.target.classList.toggle("open");
    }
  });

  document
    .querySelector("a.button.primary")
    .addEventListener("click", function() {
      appendNodes(imagesDOM, prepareImages(9));
    });
</script>
