#header {
  position: relative;
  height: 60vh;
  width: 100vw;
  margin: 0;
  background-color: #FFF !important;
}

#header .container {
  padding: 0;
}

#header .navbar.navbar-default {
  background: #FFFFFF;
}

#header .nav-toggle {
  margin-right: 15px !important;
}

#header .navbar.navbar-default ul.nav {
  position: relative;
  top: -18px;
}

#header .navbar.navbar-default .navbar-brand {
  padding-left: 15px;
}

#header .background-image {
  height:60vh;
  width:100vw;
  position:absolute;
  object-fit:cover
}

#header.slideInDown .background-image {
  display: none;
}

#header.slideInDown {
  height: 55px
}
#header.slideInDown .navbar.navbar-default {
  margin-top: 0
}

@media (min-width: 768px) {
  #header .navbar.navbar-default {
    margin-top: 40px;
    padding: 15px 0;
    background-color: transparent;
  }
}

article {
  margin-top: 40px;
}

article img {
  max-width: 100%;
}
