#about .container .row {
    @include same-height();
    .col-6 {
        height: 250px;
    }
    .card {
        height: 100%;
        &.map {
            iframe {
                flex: 1;
            }
            p.text {
                flex: 0;
            }
        }
        &.info {
            padding-bottom: 60px;
            @include break(800px) {
                padding-bottom: 0px;
            }
        }
    }
}