@media only screen and (min-width: 40em) {
    
    .modal-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      background-color: rgba(#000, 0.6);
      opacity: 0;
      visibility: hidden;
      backface-visibility: hidden;
      transition: $transition;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  } // media query
  
  
  
  /**
   * Modal
   */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    width: 600px;
    max-width: 75rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(#000, 0.1);
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: $transition;
    z-index: 99;

    .modal-body {
      width: 100%;
    }

    &[data-body="modals/event.html"] {
      align-items: flex-start;
      .modal-body {
        margin-top: 2em;
      }
    }

    .close-modal {
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 15px;
      opacity: 0;
      backface-visibility: hidden;
      transition: $transition;

      svg {
        width: 1.75em;
        height: 1.75em;
      }
    } // close modal
    
    .modal-content {
      opacity: 0;
      backface-visibility: hidden;
    } // contenttransition: $transition;

    
    &.active {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      
      .modal-content {
        opacity: 1;
      }
      
      .close-modal {
        transform: translateY(10px);
        opacity: 1;
      }
    }
  }
  
  
/**
 * Sponsor Modal
 **/

.modal .event-modal-meta {
  list-style-type: none;
  li {
    display: flex;
    align-items: center;
    i {
      margin-right: 3em;
    }
  }
}


/**
  * Mobile styling
  */
@media only screen and (max-width: 39.9375em) {
  
  h1 {
    font-size: 1.5rem;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    transform: scale(1.1);
    padding: 0 !important;
  }
  
  .close-modal {
    right: 20px !important;
  }
} // media query