#stats {
    @include slant(before);
    @include slant(after);
    margin-top: -128px; // Encroach the section a little
    min-height: 100vh;
    padding-bottom: 48px;
    .container {
        margin-top: 156px;
        .col-3 {
            text-align: center;
            .number {
                font-size: 96px;
                color: #FFFFFF;
                margin-bottom: 0;
            }
            .label {
                font-size: 19px;
                color: rgba(#FFFFFF, 0.5);
                margin-top: 0;
            }
        }
    }
}