#teams .container {
    width: 90%;
    max-width: 100vw; 
    .row {
        @include same-height();
        .col-4 {
            display: flex;
            .card {
                flex: 1;
            }
        }

    }
}