// For changes to styles when the user is using a touchscreen, or in general when the user is using a specific device
body.user-is-touching {
    header nav a.hamburger.active {
        span.burger::before { top: 0px !important }
        span.burger::after { top: -0px !important }
        // &:hover {
        //     span.burger::before { top: 0px !important }
        //     span.burger::after { top: -0px !important }
        // }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}