$blue: #8299E6;

$grey1: #333333;
$grey2: #4F4F4F; 
$grey3: #828282;
$grey4: #E0E0E0;
$grey5: #EEEEEE;
$white: #FFFFFF;

$break-desktop: 1024px;
$break-tablet: 768px;
$break-phone: 480px;

$transition: all 0.3s ease-in-out 0s;;

@mixin break($point) {
    @media (min-width: $point) {
        @content;
    }
}

@mixin slant($selector: after) {
    position: relative;
    &::#{$selector} {
        position: absolute;
        transform: rotate(-1.7deg);
        background-color: #fff;
        content: "";
        display: inline-block;
        height: 70px;
        @if($selector == after) {
           margin-bottom: -35px;
           bottom: 0;
        } @else {
            top: -35px;
        }
        padding: 0;
        width: 100%;
    }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin drop-shadow {
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.1)
}

@mixin same-height {
    @include break($break-tablet) {
        display: flex;
    }
    > * {
        flex: 1;
    }
}

section {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    &.blue { background: $blue }
    > * {
        display: inline-block
    }
}


// Basic Definitions
/* Grid -- Adapted from Skeleton (https://getskeleton.com)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: $break-phone) {
  .container {
    width: 85%;
    padding: 0; }
}

@media (min-width: $break-tablet) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}




// Card stuff
.card {
    @include drop-shadow();
    background: $white;
    border-radius: 3px;
    padding: 16px;
    &.hasActions { padding-bottom: 60px !important; } // To give space for our actions 
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
    &.media { 
        padding: 0;
        .media {
            width: 100%;
            border-radius: 3px !important; // We must conform to the card!
        }
        .title, .text, .subtitle {
            margin: 16px;
        }
    }

    .title {
        font-size: 19px;
        color: $grey1;
        margin: 16px 16px 0px 16px !important; // These rules aren't applying, even though they have a narrower scope...?
    }
    .subtitle {
        margin: 0px 16px 16px 16px !important;
    }
    .text {
        font-size: 14px;
        color: $grey3;
        overflow-y: scroll;
    }

    .actions {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: white;
    }

}



// Buttons
a.button {
    background: $blue;
    color: $white;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 32px;
    margin: 8px;
    border-radius: 3px;
    transition: $transition;
    &.right { float: right; right: 0 }
    &:hover {
        background: $grey1;
    }
}
