$blue: #8299E6;

$grey1: #333333;
$grey2: #4F4F4F; 
$grey3: #828282;
$grey4: #E0E0E0;
$grey5: #EEEEEE;
$white: #FFFFFF;

$break-desktop: 1024px;
$break-tablet: 768px;
$break-phone: 480px;

@mixin break($point) {
    @media (min-width: $point) {
        @content;
    }
}

@mixin slant() {
    &::after {
        position: absolute;
        transform: rotate(-1.7deg);
        background-color: #fff;
        content: "";
        z-index: 3;
        display: inline-block;
        height: 70px;
        bottom: 0;
        margin-bottom: -35px;
        padding: 0;
        width: 100%;
    }
}