$blue: #8299E6;

$grey1: #333333;
$grey2: #4F4F4F; 
$grey3: #828282;
$grey4: #E0E0E0;
$grey5: #EEEEEE;
$white: #FFFFFF;

$break-desktop: 1024px;
$break-tablet: 768px;
$break-phone: 480px;

$transition: all 0.3s ease-in-out 0s;;

@mixin break($point) {
    @media (min-width: $point) {
        @content;
    }
}

@mixin slant() {
    &::after {
        position: absolute;
        transform: rotate(-1.7deg);
        background-color: #fff;
        content: "";
        z-index: 3;
        display: inline-block;
        height: 70px;
        bottom: 0;
        margin-bottom: -35px;
        padding: 0;
        width: 100%;
    }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin drop-shadow {
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.1)
}