<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="/assets/main.js" async></script> {% seo %}
    {% if page.embedScript %}
    <script>
    const ELEMENTS = {
        burger: null,
        header: null,
        navLinks: null,
        calendarItems: null,
        main: null,
    };
    const gcal = {
  key: "AIzaSyCeqavu-XBjsQnkM2qqmgF78_IY77NiQ0A",
  id:
    "greenvilleschools.us_4ba2q4c7b7o4u0l8s7jasmh04c@group.calendar.google.com",

  cache: {},

  events(after = new Date(), before = new Date(Date.now() + 365 * 24 * 60 * 60 * 1000)) {
    if (this.cache[after.toISOString() + "-" + before.toISOString()]) {
      return Promise.resolve(this.cache[after.toISOString() + "-" + before.toISOString()]);
    }
    return fetch(
      `https://www.googleapis.com/calendar/v3/calendars/${gcal.id}/events?key=${
      gcal.key
      }&singleEvents=true&orderBy=startTime&timeMin=${after.toISOString()}&timeMax=${before.toISOString()}`
    )
      .then(r => r.json())
      .then(res => (this.cache[after.toISOString() + "-" + before.toISOString()] = res.items, res))
      .then(res => res.items);
  }
};

function formatTime(start, end) {
  start = new Date(start),
    end = new Date(end);


  if (start.getDate() === end.getDate()) {
    return start.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" }) + "—" + end.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" })
  }

  return start.toLocaleString([], { hour: "2-digit", minute: "2-digit", day: "2-digit", month: "short" }) + "—" + end.toLocaleString([], { hour: "2-digit", minute: "2-digit", day: "2-digit", month: "short" })
}

    {% include {{ page.embedScript }} %}
    </script>
    {% endif %}
    
    <style>
    {% if page.embedStyle %}
    {% include {{ page.embedStyle }} %}
    {% endif %}
    header.page {
          background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url({{ page.headerImage }});
    }
    </style>
</head>

<body>
    {% include header.html %}
    <main class="container">
        {{ page.content }}
    </main>
</body>

</html>